<!doctype html>
<html lang="en">
<head>
    <title>Philippines Stocks Exchange</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/www.css">

    <style>
        pre  {
            background-color: #f7f7f7;
            font: 80% 'Lucida Console', Consolas, Monaco, 'Andale Mono', monospace;
            line-height: 1.2;
            padding: 16px;
        }
    </style>
</head>
<body>
    
{{>navpartials}}

<div id="content">
    {{{content}}}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.stocks.local/socket.io/socket.io.js"></script>
<script type="text/javascript">
    {{{autoReload page}}}
</script>

</body>
</html>
